<!DOCTYPE html>
{% extends "businessBase.html" %}
<html lang="en">
{% load static %}
<body>
   {% block header %}
   <div class="container">
      <div class="row d-none d-md-block">
				<div class="col-12 mt-5">
					<div class="connecting-bg-container mt-5">
					  <div class="connecting-container">
						  <div class="connecting-each-num-bg-container">
							   <div class="connecting-text-num-card">
								   <div class="dots-line-container" style="border-color: #E88B30">

								   </div>
								   <div class="num-item-bg-icon">
									   <span class="num-item-span-card">
										   <div class="num-item-status-card" style="background-color: #E88B3D;">
											  <span class="numbers">1</span>
										   </div>
									   </span>
								   </div>
								   <div class="num-content-container">
									   <div class="num-content">
										   Welcome
									   </div>
								   </div>
							   </div>
							   <div class="connecting-text-num-card">
								   <div class="dots-line-container" style="border-color: #E88B30">

								   </div>
								   <div class="num-item-bg-icon">
									   <span class="num-item-span-card" >
										   <div class="num-item-status-card" style="background-color: #E88B3D;">
											  <span class="numbers">2</span>
										   </div>
									   </span>
								   </div>
								   <div class="num-content-container">
									   <div class="num-content">
										   Phone number
									   </div>
								   </div>
							   </div>
							   <div class="connecting-text-num-card">
								   <div class="dots-line-container" style="border-color: #E88B3D">

								   </div>
								   <div class="num-item-bg-icon">
									   <span class="num-item-span-card">
										   <div class="num-item-status-card" style="background-color: #E88B3D;">
											  <span class="numbers">3</span>
										   </div>
									   </span>
								   </div>
								   <div class="num-content-container">
									   <div class="num-content">
										  Label
									   </div>
								   </div>
							   </div>
							   <div class="connecting-text-num-card">
								   <div class="num-item-bg-icon">
									   <span class="num-item-span-card">
										   <div class="num-item-status-card" style="background-color: #E88B30">
											  <span class="numbers">4</span>
										   </div>
									   </span>
								   </div>
								   <div class="num-content-container">
									   <div class="num-content">
										   Forms
									   </div>
								   </div>
							   </div>
						  </div>
					  </div>
			        </div>
				</div>
			</div>
      <div class="row">
         <!--<div class="col-12 col-md-6 d-none d-md-block">
            <div class="individual-page-right-bg-container">
               <p class="individual-page-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
               <p class="individual-page-text"> alteration in some form, by injected humour, or randomised words which don't look even slightly<p/>
               <p class="individual-page-text"> believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't<p/>
               <p class="individual-page-text">
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
                    from repetition, injected humour, or non-characteristic words etc.
               </p>
            </div>
         </div>-->
         <div class="col-12 col-md-12">
            <div class="individual-page-main-bg-container">
               <div class="individual-page-bg-container">
               <h1 class="individual-page-heading">Register as Individual</h1>
               <hr class="individual-page-line"/>
               <div class="container">
                  <form class="individual-page-form-container">
                     <div class="row">
                        <div class="col-12 col-md-6 mb-4">
                           <div class="individual-page-input-container">
                              <label for="first-name" class="individual-page-input-text">First Name</label>
                              <input type="text" id="first-name" class="individual-page-input-fields" placeholder="Enter first name"/>
                           </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                           <div class="individual-page-input-container">
                              <label for="last-name" class="individual-page-input-text">Last Name</label>
                              <input type="text" id="last-name" class="individual-page-input-fields" placeholder="Enter last name"/>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-12 col-md-6 mb-4">
                           <div class="individual-page-input-container">
                              <label for="production-name" class="individual-page-input-text">Production House Name</label>
                              <input type="text" id="production-name" class="individual-page-input-fields" placeholder="Enter production name"/>
                           </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                           <div class="individual-page-input-container">
                              <label for="website" class="individual-page-input-text">Website</label>
                              <input type="text" id="website" class="individual-page-input-fields" placeholder="Enter website"/>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                           <div class="individual-page-input-container">
                               <label class="individual-page-input-text">Country</label>
                               <select class="individual-page-input-fields">
                                   <option>India</option>
                                  <option>Us</option>
                               </select>
                           </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                           <div class="individual-page-input-container">
                               <label class="individual-page-input-text">Your state</label>
                               <select class="individual-page-input-fields">
                                   <option>Andhra Pradesh</option>
                                   <option>Andaman and Nicobar Islands</option>
                                  <option>Arunachal Pradesh</option>
                                  <option>Assam</option>
                                  <option>Bihar</option>
                                  <option>Chandigarh</option>
                                  <option>Chhattisgarh</option>
                                  <option>Dadra and Nagar Haveli</option>
                                  <option>Daman and Diu</option>
                                  <option>Goa</option>
                                  <option>Gujarat</option>
                                  <option>Haryana</option>
                                  <option>Himachal Pradesh</option>
                                  <option>Jharkhand</option>
                                  <option>Karnataka</option>
                                  <option>Keral</option>
                                  <option>Lakshadweep</option>
                                  <option>Madhya Pradesh</option>
                                  <option>Maharashtra</option>
                                  <option>Meghalayar</option>
                                  <option>Mizoram</option>
                                  <option>Nagaland</option>
                                  <option>Odisha</option>
                                  <option>Punjab</option>
                                  <option>Puducherry</option>
                                  <option>Rajasthan</option>
                                  <option>Sikkim</option>
                                  <option>Tamil Nadu</option>
                                  <option>Telangana</option>
                                  <option>Tripura</option>
                                  <option>uttar Pradesh</option>
                                  <option>Uttarakhand</option>
                                  <option>West Bangal</option>
                               </select>
                           </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                           <div class="individual-page-input-container">
                               <label class="individual-page-input-text">Your city</label>
                               <select class="individual-page-input-fields">
                                  <option>Amaravati</option>
                                  <option>Itanagar</option>
                                  <option>Dispur</option>
                                  <option>Patna</option>
                                  <option>Raipur</option>
                                  <option>Panaji</option>
                                  <option>Gandhi Nagar</option>
                                  <option>Chandigarh</option>
                                  <option>Shimla</option>
                                  <option>Ranchi</option>
                                  <option>Bengaluru</option>
                                  <option>Thiruvananthapuram</option>
                                  <option>Bhopal</option>
                                  <option>Mumbai</option>
                                  <option>Imphal</option>
                                  <option>Shilong</option>
                                  <option>Jaipur</option>
                                  <option>Gantok</option>
                                  <option>Chennai</option>
                                  <option>Hyderabad</option>
                                  <option>Agarthala</option>
                                  <option>Lucknow</option>
                                  <option>Dehradun</option>
                                  <option>Kolkata</option>
                               </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-12 mb-4">
                           <div class="individual-page-input-container">
                              <label for="about-production" class="individual-page-input-text">About Production House</label>
                             <textarea type="text" id="about-production" rows="6" cols="70" class="individual-page-input-textarea"></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-12">
                           <div class="individual-page-checkbox-container">
                               <input type="checkbox" class="individual-page-checkbox"/>
                               <p class="checkbox-msg">
                                  I accept the <a href="{% url 'terms' %}">Terms and Conditions</a> of the website
                               </p>
                           </div>
                        </div>
                        <div class="col-12 individual-page-btn-container">
                           <button class="individual-page-btn">Register</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            </div>
         </div>
      </div>
   </div>


   {% endblock %}
</body>
</html>