<!DOCTYPE html>
{% extends "producer_base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}
<div class="producer-content-main-bg-container">
    <div class="producer-content-top-text-div">
        <a href="{% url 'producer_content' %}" class="producer-label-back-icon-div" style="text-decoration:none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
              <path d="M7 1L1 7L7 13" stroke="#1E1E2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p>Back</p>
        </a>
    </div>
    <h1 class="producer-label-main-heading">Create Label</h1>
    <form class="producer-label-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="movieName" class="producer-label-input-heading">Movie Name*</label>
                        <input type="text" id="movieName" name="movieName" class="producer-label-input-fields" placeholder="Enter movie name" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="genre" class="producer-label-input-heading">Genre*</label>
                        <select id="genre" class="producer-label-input-fields">
                            <option>Comedy</option>
                            <option>Horror</option>
                            <option>Scifi</option>
                            <option>Thriller</option>
                            <option>Action</option>
                            <option>Drama</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                     <div class="producer-label-input-bg-container">
                        <label for="language" class="producer-label-input-heading">Language*</label>
                        <select id="language" class="producer-label-input-fields">
                            <option>Telugu</option>
                            <option>Hindi</option>
                            <option>Kannada</option>
                            <option>Malayalam</option>
                            <option>Tamil</option>
                            <option>English</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                     <div class="producer-label-input-bg-container">
                        <label for="otherLanguage" class="producer-label-input-heading">Other Languages*</label>
                        <select id="otherLanguage" class="producer-label-input-fields">
                            <option>Telugu</option>
                            <option>Hindi</option>
                            <option>Kannada</option>
                            <option>Malayalam</option>
                            <option>Tamil</option>
                            <option>English</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="productionHouse" class="producer-label-input-heading">Production House*</label>
                        <input type="text" id="productionHouse" name="productionHouse" class="producer-label-input-fields" placeholder="Enter production house" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="producer" class="producer-label-input-heading">Producer*</label>
                        <input type="text" id="producer" name="producer" class="producer-label-input-fields" placeholder="Enter producer" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="director" class="producer-label-input-heading">Director*</label>
                        <input type="text" id="director" name="director" class="producer-label-input-fields" placeholder="Enter director" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="musicDirector" class="producer-label-input-heading">Music Director*</label>
                        <input type="text" id="musicDirector" name="musicDirector" class="producer-label-input-fields" placeholder="Enter music director" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="lyricist" class="producer-label-input-heading">Lyricist</label>
                        <input type="text" id="lyricist" name="lyricist" class="producer-label-input-fields" placeholder="Enter lyricist" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="singers" class="producer-label-input-heading">Singers</label>
                        <input type="text" id="singers" name="singers" class="producer-label-input-fields" placeholder="Enter singers" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="cast" class="producer-label-input-heading">Cast*</label>
                        <input type="text" id="cast" name="cast" class="producer-label-input-fields" placeholder="Enter cast" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="choreographers" class="producer-label-input-heading">Choreographers</label>
                        <input type="text" id="choreographers" name="choreographers" class="producer-label-input-fields" placeholder="Enter choreographers" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="scriptWriter" class="producer-label-input-heading">Script Writer</label>
                        <input type="text" id="scriptWriter" name="scriptWriter" class="producer-label-input-fields" placeholder="Enter script writer" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="editor" class="producer-label-input-heading">Editor</label>
                        <input type="text" id="editor" name="editor" class="producer-label-input-fields" placeholder="Enter editor" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="cinematographer" class="producer-label-input-heading">Cinematographer</label>
                        <input type="text" id="cinematographer" name="cinematographer" class="producer-label-input-fields" placeholder="Enter cinematographer" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="runtime" class="producer-label-input-heading">Runtime</label>
                        <input type="text" id="runtime" name="runtime" class="producer-label-input-fields" placeholder="Enter runtime" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="filmCertification" class="producer-label-input-heading">Film Certification</label>
                        <select id="filmCertification" class="producer-label-input-fields" >
                            <option value="U">U</option>
                            <option value="U/A">U/A</option>
                            <option value="A">A</option>
                            <option value="Not Certified Yet">Not Certified Yet</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="distributor" class="producer-label-input-heading">Distributor</label>
                        <input type="text" id="distributor" name="distributor" class="producer-label-input-fields" placeholder="Enter distributor" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="recordingStudio" class="producer-label-input-heading">Recording Studio</label>
                        <input type="text" id="recordingStudio" name="recordingStudio" class="producer-label-input-fields" placeholder="Enter recording studio" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="budget" class="producer-label-input-heading">Budget</label>
                        <input type="text" id="budget" name="budget" class="producer-label-input-fields" placeholder="Enter budget" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="releaseDate" class="producer-label-input-heading">Release Date*</label>
                        <input type="date" id="releaseDate" name="releaseDate" class="producer-label-input-fields" placeholder="Enter release date" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="trailerLink" class="producer-label-input-heading">Trailer Link*</label>
                        <input type="text" id="trailerLink" name="trailerLink" class="producer-label-input-fields" placeholder="Enter trailer link" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="uploadPoster" class="producer-label-input-heading">Upload Posters*</label>
                        <label class='producer-label-upload-text'>
                            <input id="uploadPoster" name="uploadPoster" type="file" hidden/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                              <path d="M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M19.8337 9.33333L14.0003 3.5L8.16699 9.33333" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M14 3.5V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Upload file
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="uploadBanner" class="producer-label-input-heading">Upload Banner*</label>
                        <label class='producer-label-upload-text'>
                            <input id="uploadBanner" name="uploadBanner" type="file" hidden/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                              <path d="M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M19.8337 9.33333L14.0003 3.5L8.16699 9.33333" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M14 3.5V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Upload file
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="cgTeam" class="producer-label-input-heading">CG Team</label>
                        <input type="text" id="cgTeam" name="cgTeam" class="producer-label-input-fields" placeholder="Enter CG team" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="urlName" class="producer-label-input-heading">URL name</label>
                        <input type="text" id="urlName" name="budget" class="producer-label-input-fields" placeholder="Enter url name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="producer-label-input-bg-container">
                        <label for="synopsis" class="producer-label-input-heading">Synopsis/Plotline*</label>
                        <textarea type="text" id="synopsis" name="synopsis" rows="6" cols="100" class="producer-label-textarea-fields" placeholder="Enter synopsis"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="producer-label-btn" data-bs-toggle="modal" data-bs-target="#thankYou">Upload</button>
    </form>

    <!-- Thank You Modal -->
        <div class="modal fade" id="thankYou" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="producer-thank-bg-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" style="margin-bottom:20px;" fill="#4CAF50" class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                    </svg>
                    <h1 class="producer-thank-heading">Thank You</h1>
                    <p class="producer-thank-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s.
                    </p>
                    <button class="producer-thank" data-bs-dismiss="modal" aria-label="Close">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}
</body>
</html>
