<!DOCTYPE html>
{% extends "producer_base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}
<div class="producer-content-main-bg-container">
    <div class="producer-content-top-text-div">
        <a href="{% url 'producer_content' %}" class="producer-label-back-icon-div" style="text-decoration:none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
              <path d="M7 1L1 7L7 13" stroke="#1E1E2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p>Back</p>
        </a>
    </div>
    <h1 class="producer-label-main-heading">Add Post</h1>
    <form class="producer-label-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="movieName" class="producer-label-input-heading">Movie Name*</label>
                        <input type="text" id="movieName" name="movieName" class="producer-label-input-fields" placeholder="Enter movie name" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="genre" class="producer-label-input-heading">Genre*</label>
                        <select id="genre" class="producer-label-input-fields">
                            <option>Comedy, Drama</option>
                            <option>Horror, Comedy</option>
                            <option>Scifi</option>
                            <option>Thriller, Comedy</option>
                            <option>Action, Comedy</option>
                            <option>Action, Drama, Historic</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="language" class="producer-label-input-heading">Language*</label>
                        <select id="language" class="producer-label-input-fields">
                            <option>Telugu</option>
                            <option>Hindi</option>
                            <option>Kannada</option>
                            <option>Malayalam</option>
                            <option>Tamil</option>
                            <option>English</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="heading" class="producer-label-input-heading">Heading</label>
                        <input type="text" id="heading" name="heading" class="producer-label-input-fields" placeholder="Enter heading" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="producer-label-input-bg-container">
                        <label for="description" class="producer-label-input-heading">Enter Description text</label>
                        <textarea type="text" id="description" name="description" rows="8" cols="100" class="producer-label-textarea-fields" placeholder="Enter text here"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="uploadPoster" class="producer-label-input-heading">Upload banner/thumbnail</label>
                        <label class='producer-label-upload-text'>
                            <input id="uploadPoster" name="uploadPoster" type="file" hidden/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                              <path d="M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M19.8337 9.33333L14.0003 3.5L8.16699 9.33333" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M14 3.5V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Upload file
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="producer-label-btn">Upload</button>
    </form>
</div>
{% endblock %}
</body>
</html>