<!DOCTYPE html>
{% extends "corporateBase.html" %}
<html lang="en">
{% load  static %}

<body>
 {% block header %}
    <div class="register-page-bg-main-container" id="register-body">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 col-md-7">
                    <div class="register-text-container">
                        <p class="register-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                        </p>
                        <p class="register-text">
                            If you want more information about Cinystore. Visit here
                            <a href="{% url 'corporateHome' %}" target="_blank">Corporate page !</a>
                        </p>
                    </div>

                </div>
                <div class="col-12 col-md-5">
                    <div class="register-bg-container">
                        <h1 class="register-page-main-heading">Registration</h1>
                        <p class="register-page-main-description">Create your Cinystore account</p>
                        <form>
                            <div class="register-inputs-container">
                                <label for="register-name" class="register-input-texts">User name</label>
                                <input type="text" id="register-name" class="register-input-fields" placeholder=" user name"/>
                            </div>
                            <div class="register-inputs-container">
                                <label for="register-mail" class="register-input-texts">E-mail</label>
                                <input type="text" id="register-mail" class="register-input-fields" placeholder=" e-mail address"/>
                            </div>
							 <div class="register-inputs-container">
                                <label for="register-password" class="register-input-texts">Password</label>
                                <input type="password" id="register-password" class="register-input-fields" placeholder="password"/>
                            </div>
							 <div class="register-inputs-container">
                                <label for="register-confirm-pssword" class="register-input-texts">Confirm Password</label>
                                <input type="password" id="register-confirm-password" class="register-input-fields" placeholder="confirm password"/>
                            </div>
                            <!--re-Captcha-->
                            <div class="g-recaptcha mb-4" data-sitekey="6LdY0-coAAAAAM3CVTnmZytfGpGNQxnApeE1zWvl"></div>
                            <!--re-Captcha-->
                            <p class="register-alert-text">By click submit, you visit our
                                <a href="{% url 'Privacy' %}">privacy and terms</a>
                            </p>
                            <button type="submit" class="register-btn">
                                <a href="{% url 'welcome_page' %}" style="color: white; text-decoration:auto;">Submit</a>
                            </button>
                            <p class="register-login-description">Already have an account
                                <a href="Business/" target="_blank">Login </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>